<div style="text-align: center;">
    <h1 style="font-weight: 600px; font-size: 26px; color: blue">多Contrase単a olvidada?</h1>
    <p>Haz click en el enlace para cambiar tu contrase単a</p>
    <a href="<%= verifyHref %>">Cambiar Contrase単a</a>
</div>
