<div style="text-align: center;">
    <h1 style="font-weight: 600px; font-size: 26px; color: blue">Verificacion de Email</h1>
    <p>Bienvenido a <strong>ASIOS</strong></p>
    <p>Por favor verifica tu cuenta, antes de seguir.</p>
    <a href="<%= verifyHref %>">Verifica tu email</a>
</div>