<app-navbar></app-navbar>

<div class="my-form">
    <form class="signup-form" [formGroup]="forgotPassForm" novalidate action="" (ngSubmit)="forgotPassForm.valid && forgetPass()">
        <mat-card>
            <mat-card-header>
                <mat-card-title> CONTRASEÑA OLVIDADA </mat-card-title>
            </mat-card-header>
            <mat-card-content>


                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="forgotPassForm.controls['email'].hasError('required')">
                                Email <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Enviar</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>